* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#navDiv{
  width: 100%;
  background-color: #DDDD;
  padding-left: 10%;
  padding-right: 10%;
  color: #630101;
  font-weight: 900;
  justify-content: center;
  border-bottom: 2px dashed #630101;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topNavbar{
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 10px;
}

#topNavbar>li{
  border-right: 1px solid #630101;
  padding-left: 8px;
  padding-top: 5px;
  padding-right: 5px;
  text-wrap: nowrap;

}

#topNavbar>li:hover{
  color: #74B434;
  cursor: pointer;
} 

#row-logo {
  display: flex;
  margin: 10px 200px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  padding: 0px 5px;
}

.aktu-logo {
  height: 100px;
  width: 500px;
  padding: 0px 5px;
}

.logo-2 {
  height: 35px;
  width: 35px;
  object-fit: contain;
  margin-right: 3px;
}

.right-nav {
  display: flex;
  flex-direction: column;
}

.search-bar {
  border: 1px solid maroon;
  border-radius: 12px;
  font-size: 14px;
  padding: 3px 15px 3px 35px;
}

.right-nav-up {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin: 10px;
  justify-content: space-between;
}
